@import "./../../../../../assets/styles/mixins.scss";
@import "./../../../../../assets/styles/themes.scss";
@import "./../../../../../assets/styles/typography.scss";

.addressWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAFAFA;
}

.addressContainer {
  padding-top: 20px;
  min-height: 100vh;

  padding-inline: 10px;
  max-width: 1200px;
  width: 100%;

  margin-bottom: 20px;
}

.contentWrapper, .servicesWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.servicesWrapper {
  padding: 0 !important;
  margin: 0 !important;
  list-style-type: none;
}

.noServicesFound {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50vh;
  text-align: center;
}

.noServicesText {
  @include sm-heading-4;
}

.stickyMobileBottomNavPageIcon {
  margin-right: 10px;
}

.stickyMobileBottomNavLink {
  font-family: Sofia Sans !important;
  color: $sm-indigo-4;
  background-color: $sm-white;
  padding-inline: 15px !important;

  font-family: 'Sofia Sans';
  font-style: normal;

  font-size: 20px;
  line-height: 24px;

  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px 6px;
  border-style: outset;
  border-color: buttonborder;
  border: 1px solid $sm-indigo-0-5;

  -webkit-transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;

  &:hover {
    text-decoration: none;
    color: $sm-indigo-4;
    @include screen-size(large) {
      font-weight: 400;
      border-image: $sm-gradient-y 1;
      border-width: 1px;
    }
  }

  @include screen-size(large) {
    padding-inline: 30px;
  }
}

.stickyMobileBottomNav {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  background-color: #FCFCFC;
  box-shadow: 0px 0px 1px rgba(12, 14, 25, 0.24), 0px 2px 12px rgba(12, 14, 25, 0.12);
}

.refreshCta {
  @include sm-body-2-regular;
  color: $sm-indigo-4;
  font-size: 16px !important;
  padding: 0;

  &:hover .refreshCtaIcon {
    color: $sm-indigo-4 !important;
    transform: rotate(180deg);
  }
}

.refreshCtaIcon {
  margin-left: 10px;
  -webkit-transition: transform 0.3s ease-in-out !important;
  -moz-transition: transform 0.3s ease-in-out !important;
  -o-transition: transform 0.3s ease-in-out !important;
  transition: transform 0.3s ease-in-out !important;
}

.refreshCtaWrapper {
  display: flex;
  justify-content: flex-end;
}

.breadCrumbs > div {
  margin-bottom: 10px !important;
  @include screen-size(medium) {
    margin-bottom: 0 !important;
  }
}