@import "./../../../../../../../assets/styles/mixins.scss";
@import "./../../../../../../../assets/styles/themes.scss";
@import "./../../../../../../../assets/styles/typography.scss";

.taxesAccordion {
  background-color: $sm-white;
  box-shadow: 0px 0px 1px rgba(12, 14, 25, 0.24), 0px 1px 4px rgba(12, 14, 25, 0.08);
  border-radius: 2px;
  border: 1px solid transparent;

  padding: 20px 10px;

  &.selected {
    border: 1px solid $sm-blue-6;
  }

  @include screen-size(medium) {
    background-color: #FCFCFC;

    &:hover, &.expanded {
      background-color: $sm-white;

      & .totalLabel.showOnHover {
        display: block;
      }
    }
  }

  @include screen-size(extra-large) {
    padding: 20px;
  }
}

.icon {
  margin-right: 15px;
}

.title {
  @include sm-heading-5;
  color: $sm-indigo-dark;
  max-width: 240px;
  display: flex;

  @include screen-size(medium) {
    max-width: unset;
  }
}

.total {
  @include sm-body-regular;
  color: $sm-indigo-dark;
}

.totalLabel {
  @include sm-caption-regular;
  margin-right: 10px;
  color: $sm-indigo-4;

  @include screen-size(medium) {
    @include sm-body-2-regular;
    &.showOnHover {
      display: none;
    }
  }
}

.currency {
  font-family: 'Sofia Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: $sm-indigo-dark;
  margin-left: 2px;
}

.selectedTotal {
  color: $sm-red-6 !important
}

.selectedTotalWrapper {
  display: flex;
  align-items: center;

  @include screen-size(large) {
    margin-right: 21px !important;
  }
}
