@import "./../../../assets/styles/mixins.scss";
@import "./../../../assets/styles/typography.scss";

.blocksWrapper{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

.block {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;

  @include screen-size(medium) {
    font-size: 28px;
  }
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.noBlocksFound {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50vh;
}

.noBlocksText {
  @include sm-heading-4;
}