@import "./../../../../assets/styles/mixins.scss";
@import "./../../../../assets/styles/themes.scss";

.menuItem {
  width: 100%;
  border: none;
  background-color: transparent;
  font-family: 'Sofia Sans';
  color: $sm-indigo-4;
  font-weight: 300;
  font-size: 20px;
  line-height: 29px;
  text-decoration: none !important;

  
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  &.active {
    color: $sm-indigo-dark;
    font-weight: 400;
  }

  &:hover, &:focus, &:active {
    border: none !important;
    background-color: transparent !important;
    color: $sm-indigo-dark !important;
  }

  &:focus {
    box-shadow: none !important;
  }

  @include screen-size(medium) {
    font-size: 24px;
  }
}

.icon {
  margin-right: 10px;

  @include screen-size(medium) {
    margin-right: 20px;
  }
}

.line {
  width: 100%;
  height: 2px;

  background: $sm-gradient-x;
  margin-top: -2px;
}

.inactiveLine {
  height: 2px;
  background: $sm-indigo-0;
  position: relative;
  z-index: 1;
  width: 0;

  transition: width 0.25s ease-in;

  &.show {
    width: 100%;
  }
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}