@import "./../../../../assets/styles/mixins.scss";
@import "./../../../../assets/styles/themes.scss";
@import "./../../../../assets/styles/typography.scss";

.contactsContainer {
  background-color: #FAFAFA;
  padding-top: 40px;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;

  @include screen-size(medium) {
    padding-inline: 15px;
  }
}

.pageTitle {
  @include sm-heading-3;
  font-weight: 800;
  margin-bottom: 10px !important;

  @include screen-size(medium) {
    margin-bottom: 70px !important;
  }

  @include screen-size(large) {
    @include sm-heading-1;
  }
}

.description {
  font-family: 'Sofia Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 19px;
}

.content {
  max-width: 1200px;
  background-color: $sm-white;
  box-shadow: 0px 0px 1px rgba(12, 14, 25, 0.24), 0px 2px 12px rgba(12, 14, 25, 0.12);
  padding-bottom: 80px;
}

.contactsContent {
  margin-top: 20px;
  @include screen-size(medium) {
    margin-top: 40px;
  }
}

.contactsContentTitle {
  @include sm-heading-4;
  color: $sm-blue;
  padding-bottom: 15px;
  border-bottom: 1px solid $sm-indigo-0;
}

.contactsItemRegion {
  @include sm-heading-5;

  @include screen-size(medium) {
    @include sm-heading-4;
    font-weight: 500;
  }
}

.phone {
  @include sm-body-2-regular;
  word-spacing: 30px;

  @include screen-size(medium) {
    @include sm-heading-4;
  }
}

.contactsItem {
  width: 100%;
  padding-block: 15px;
  padding-inline: 20px;
  text-align: left;
  color: $sm-indigo-dark;
  margin-top: 10px;

  box-shadow: 0px 0px 1px rgba(12, 14, 25, 0.24), 0px 2px 12px rgba(12, 14, 25, 0.12);
  @include screen-size(medium) {
    box-shadow: none;
    padding-block: 20px;
    padding-inline: 0;
    margin-top: 0;
    border-bottom: 1px solid $sm-indigo-0;

    &:hover {
      border-bottom: 1px solid $sm-blue;
  
      & .contactsItemRegion {
        color: $sm-blue;
      }
    }
  }
}